div.auto-complete {
  width: fit-content;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  padding-top: 0.5em;
  ul.list {
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow: auto;
    li.list-item {
      list-style: none;
      padding: 0.2em 1em;
      &:hover,
      &.active {
        &:not(.not-found) {
          background-color: var(--bs-primary);
          cursor: pointer;
          color: #ffffff;
        }
      }
      &.not-found {
        text-align: center;
        color: var(--bs-secondary);
        padding: 1em;
      }
    }
  }
}
