div.card {
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  div.card-header {
    background-color: transparent;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

div.custom-form-group > label {
  color: var(--bs-secondary);
  &.required {
    &::after {
      content: "*";
      color: red;
      margin-left: 0.1em;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
